.container {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: right;
  font-weight: 700;
}

.primaryText {
  font-size: 48px;
  color: #212121;
}

.secondaryText {
  font-size: 30px;
  color: #0097a7;
}

.img {
  width: 260px;
}

@media screen and (max-width: 530px) {
  .primaryText {
    font-size: 38px;
  }

  .secondaryText {
    font-size: 20px;
  }

  .img {
    width: 200px;
  }
}

@media screen and (max-width: 482px) {
  .primaryText {
    font-size: 30px;
  }

  .secondaryText {
    font-size: 16px;
  }

  .img {
    width: 140px;
  }
}
