.container {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  text-align: right;
}

.primaryText {
  font-size: 48px;
  color: #212121;
}

.secondaryText {
  font-size: 30px;

  color: #0097a7;
}
