.contactsList {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  color: #212121;
}

.contactsItem {
  display: flex;
  align-items: center;
  padding: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;

  border: 1px solid #d3d3d3;
  border-radius: 10px;

  background-color: #b2ebf2;
}

.contactsItem:not(:last-child) {
  margin-bottom: 5px;
}

.contactName,
.contactNumber {
  display: flex;
  align-items: center;
  min-width: 155px;
}

.icon {
  margin-right: 5px;
  color: #212121;
}
